body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    color: white;
    text-align: center;
}

.kutu {
    width: 120px;
    height: 120px;
    background-color: lightgreen;
    margin: 10px;
    line-height: 120px;
    font-weight: bold;
}

.sol {
    float: left;
}

.sag {
    float: right;
}

.alt-metin {
    clear: both;
    margin-top: 150px;
}
