body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 40px;
}

.kutu {
    background-color: lightcoral;
    padding: 20px;
    margin: 15px auto;
    width: 200px;
    border-radius: 8px;
}

.ikinci {
    margin-top: 50px;
    background-color: lightseagreen;
}
