body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

a:hover {
    color: red;
}

a:visited {
    color: purple;
}

a:active {
    color: green;
}
